html{
background-image:url(/I2A/img/backs/back.gif);
margin:0;
  padding:0;
  
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
}
body{
}

#menutop{
	background-color: #1f0026;
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	height : 100px;
	box-shadow: 8px 8px 7px rgb(0, 0, 0);
}
	.in_menu{
		text-align:center;
		margin-top:10px;
		margin-bottom:10px;
		margin-left: 10px;
		font-size:1.8em
		
	}
		.in_menu a{
			color: black;
			text-decoration: none;
			
		}
		.in_menu a:visited{
			color: black;
		}
		.in_menu a:hover{
			color:black;
		}
	#name_box{
		background-color: rgba(113,63,122,0.5);
		display:inline-block;
		border-radius:10px;
		width:33%;
		box-shadow: 8px 8px 7px #000; 
		margin-right:10px;
		float:left;
		margin-top: 0.4%;
	}
	#name_box img{
		 
		float:left;
		margin-left:10px;
	}
	#site_logo{
		background-color: rgba(113,63,122,0.5);
		border-radius:10px;
		box-shadow: 8px 8px 7px #000;
		float:left;
		width:33%;
		margin-top: 0.4%;	
		text-align: center;
	}
	 
	#toolbox{
		margin-left:10px;
		background-color: rgba(113,63,122,0.5);
		border-radius:10px;
		box-shadow: 8px 8px 7px #000;
		width:32%;
		height:80px;
		float: left;
		margin-top:0.4%
		}		
			#toolbox a{
			vertical-align:middle;
			}	
			#toolbox a.settings:before{
			 content:url(/I2A/img/icon/settings.png);
			 }
			 
			#toolbox a.deconnect:before{
			content:url(/I2A/img/icon/logout.png);
			}	
			
	#home{
	width: 98.25%;
	background-color: rgba(67,0,78,0.5);
	border: solid rgba(33,0,38,1) 5px;
	position: fixed;
	top: 100px;
	left:0px;
	text-align: center;
	color: #b799bc;
	margin:0.5%;
	}


	#external_links
	{background-image: url(http://fakeimg.pl/200x200/?text=External);
margin: 50px 0px 0px 13.7%;
padding: 0;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 15%;
height: 150;
float: left;
}
#internal_links
{
background-image: url(http://fakeimg.pl/200x200/?text=Internal);
margin: 50px 0px 0px 13.7%;
padding: 0;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 15%;
height: 150;
float: left;
}
#schedule{
background-image: url(http://fakeimg.pl/200x200/?text=Schedule);
margin: 50px 0px 0px 13.7%;
padding: 0;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 15%;
height: 150;
float: left;
}
#to_do {
background-image: url(http://fakeimg.pl/200x200/?text=To_Do);
margin: 0;
padding: 0;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 15%;
height: 150;
margin-left: 23.3%;
margin-top: 75px;
clear: both;
display: inline-block;
float: left;
}#notepad {
background-image: url(http://fakeimg.pl/200x200/?text=Notepad);
margin: 0;
padding: 0;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 15%;
height: 150;
margin-left: 23.3%;
margin-top: 75px;
margin-right: 23.3%;
float: left;
display: inline-block;
margin-bottom: 45px;
}

/* FONTS */
@font-face {
    font-family: 'je_naime_pas_le_lundi_boldRg';
    src: url('fonts/lundi/je_naime_pas_le_lundi_bold-webfont.eot');
    src: url('fonts/lundi/je_naime_pas_le_lundi_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lundi/je_naime_pas_le_lundi_bold-webfont.woff') format('woff'),
         url('fonts/lundi/je_naime_pas_le_lundi_bold-webfont.ttf') format('truetype'),
         url('fonts/lundi/je_naime_pas_le_lundi_bold-webfont.svg#je_naime_pas_le_lundi_boldRg') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'je_naime_pas_le_lundiregular';
    src: url('lundi/je_naime_pas_le_lundi-webfont.eot');
    src: url('lundi/je_naime_pas_le_lundi-webfont.eot?#iefix') format('embedded-opentype'),
         url('lundi/je_naime_pas_le_lundi-webfont.woff') format('woff'),
         url('lundi/je_naime_pas_le_lundi-webfont.ttf') format('truetype'),
         url('lundi/je_naime_pas_le_lundi-webfont.svg#je_naime_pas_le_lundiregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/** TO DO **/

#new_todo
{
	width: 100%;
	background-color: rgba(67,0,78,0.5);
	border: solid rgba(33,0,38,1) 5px;
	position: fixed;
	top: 100px;
	left:0px;
	text-align: center;
	color: #b799bc;
	}
	
	#list_details
	{
	width: 49.25%;
	height:500px;
	background-color: rgba(67,0,78,0.5);
	border: solid rgba(33,0,38,1) 5px;
	text-align: center;
	color: #b799bc;
	float: left;
	margin:0.5%;
	display:inline-block;
	
	}
	#items_details {
	width: 47.75%;
	height:500px;
	background-color: rgba(67,0,78,0.5);
	border: solid rgba(33,0,38,1) 5px;
	text-align: center;
	color: #b799bc;
	margin-right: 0.5%;
	margin-top: 0.5%;
	float: right;
	display: inline-block;
	}
		#item{
			margin:0.5% 0.5% 0.5% 0.25%;
			height: 49.25%;
			border: 2px dashed black;
			
		}
		#add_item{
			margin:0.25% 0.5% 0.5% 0.5%;
			height: 49.25%;
			border: 2px dashed black;
		}