html{
background-image:url(/I2A/img/backs/back.gif);
margin:0;
  padding:0;
  
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
}
}
h1{
	width: 300px;
	margin: auto;
}
#connection_box
{
background-color: rgba(31,0,38,0.7);
border : black dashed 4px;
border-radius:18px;
width : 75%;
margin-left: 12.5%;
height: 75%;
margin-top:120px;
}
	#connection_box fieldset
	{
		margin:2%;
		height: 85%;
		background-color: rgba(113,63,122,0.5);
		border-radius: 18px;
		border-color: #140020;
	}
	#connection_box fieldset h4
	{
	text-align: center;
	font-size: 1.8em;
	color : rgb(68,27,93);
	
	}
	
	#div_mail
	{
		margin-left : 11.3%;
		float:left;
		width:33%
}
	#div_password
	{
	margin-left : 11.3%;
		float:left;
		width:33%
	}
	#mail input
	{
		background-color: #d2b7de;
		}
	#submit
	{
	width: 20%;
	margin-left: 33%;
	float:left;
	}
	#reset
	{
	width: 20%;
	margin-left: 33%;
	float: left;
	}
.ecarte
{
margin:2%;
}
.clear
{
clear:both;
}